.btn-primary {
    padding: 1rem;
    border-radius: 15px;
    border: none;
}

.btn-primary:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.btn-increment {
    border: none;
}

.btn-increment-l {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn-increment-r {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-increment:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.icon-link {
    text-decoration: none;
    color: var(--accent);
    font-size: 1.5rem;
}

.icon-link:hover {
    color: var(--text-primary)
}