.btn-primary {
    padding: 1rem;
    border-radius: 15px;
    border: none;
}

.btn-primary:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.icon-link {
    text-decoration: none;
    color: var(--accent);
    font-size: 1.5rem;
}

.icon-link:hover {
    color: var(--text-primary)
}