.btn-primary {
    padding: 1rem;
    border-radius: 15px;
    border: none;
    background-color: var(--text-primary);
}

.btn-primary:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.btn-increment {
    border: none;
    background-color: var(--text-primary);
}

.btn-increment-l {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn-increment-r {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-increment:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.icon-link {
    text-decoration: none;
    color: var(--accent);
    font-size: 1.5rem;
}

.icon-link:hover {
    color: var(--text-primary)
}

td .btn-primary {
    padding: 0.25rem 0.75rem;
}

td button:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.match-id {
    color: var(--text-secondary);
    background-color: var(--accent);
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0 1rem;
}