.main-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--banner-back);
    border-radius: 5px;
}

.main-header h1 {
    margin-bottom: 0.5rem;
}

.main-header p {
    padding: 0.25rem;
}

.accent-color {
    color: var(--accent);
}

.main-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.75rem;
    background-color: var(--banner-back);
}

.main-footer a {
    margin: 0 0.5rem;
}