.instructions-section {
    color: var(--accent);
    text-align: center;
    border-bottom: 5px solid var(--accent);
    background-color: var(--banner-back);
}

.instructions-header {
    margin-bottom: 1rem;
    color: var(--text-primary);
}

.instructions-header h2 {
    padding: 0.75rem;
}

.instructions-card-container {
    color: var(--accent);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2rem;
}

.instructions-card {
    margin-bottom: 1rem;
}

.instructions-card p {
    padding: 0.25rem 0.5rem;
    text-align: left;
}

.instructions-section button {
    margin: 0.75rem 0rem;
}

/* Collapse to 1 column for smaller screens */
@media (max-width: 500px) { 
    .instructions-card-container {
        grid-template-columns: 1fr;
    }
}
