.match-hist-section {
    display: flex;
    flex-direction: column;
}

.match-hist-table {
    align-self: center;
    text-align: center;
    background-color: var(--light-green);
}

tr:nth-child(4n+1) {
    background-color: var(--dark-green);
}

tr:nth-child(4n+2) {
    background-color: var(--dark-green);
}

th {
    color: var(--text-primary);
    background-color: var(--text-secondary);
    margin: 1rem 0.5rem;
}

td {
    padding: 1rem 0.5rem;
}

@media (max-width: 500px) {
    td, th {
        padding: 1rem 0rem;
    }
}