.pitch-container-background {
    background: url(../img/pitch.png); 
    background-size: cover;
    height: 0;
    padding-top: calc(812 / 1280 * 100%);
    position: relative;
}

.pitch-container-inside {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pitch-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}

.pitch-header {
    text-align: center;
    padding: 1rem;
}