.pitch-container {
    display: flex;
    justify-content: space-between;
    background: url(../img/pitch.png) no-repeat; 
    background-size: cover;
    height: 49.5vw;
    max-height: 820px;
}

.defense-container, .offense-container, .goal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}

.pitch-header {
    text-align: center;
    padding: 1rem;
}