.player-name-label {
    padding: 1rem;
}

.player-name-input {
    padding: 0.25rem;
    border-radius: 5px;
    border: 1px solid black;
}

.player-entry-form {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}