/* _settings */
/*           */

/* Fonts */
/* Archivo Black */
/* Archivo Narrow */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow&display=swap');

/* border-box for everything */
* {
    box-sizing: border-box;
}

/* Setting CSS variables and root font size */
:root {
    font-size: 16px;

    --black: #002626;
    --white: #fefefe;
    --light-black: #0E4749;
    --red: #E55812;
    --dark-green: #277D0F;
    --light-green: #477E19;
}