body {
    font-family: 'Archivo Narrow', Helvetica, sans-serif;
    color: var(--text-primary);
}

h1 {
    font-family: 'Archivo Black', Helvetica, sans-serif;
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
    background-color: var(--text-primary);
    color: var(--background);
    padding: 0.5rem;
    border-radius: 5px;
}

h5 {
    font-size: 1.5rem;
    padding: 0.5rem;
}

td {
    font-size: 1.25rem;
    padding: 0.25rem 0;
}

button {
    font-family: 'Archivo Black', Helvetica, sans-serif;
    font-size: 1rem;
}

label, input {
    font-size: 1.5rem;
    font-family: 'Archivo Narrow', Helvetica, sans-serif;
}

footer p {
    color: var(--accent);
}

td button, .match-id {
    font-size: 1rem;
    font-family: 'Archivo Narrow', Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 1.5rem;
}

.score-input {
    font-size: 2rem;
    font-family: 'Archivo Narrow', Helvetica, sans-serif;
}

/* Mobile */
@media (max-width: 500px) {
    h3 {
        font-size: 2rem;
    }
    .team-info h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1rem;
    }
    td {
        font-size: 1rem;
        padding: 0.25rem 0;
    }
}